#map-canvas {
	height: 450px;
	width: 450px;
}
       p.viewport {
            border-radius: 5px 5px 5px 5px ;
            box-shadow: 1px 1px 5px #454545 ;
            height: 400px ;
            position: relative ;
            width: 400px ;
        }
 
        p.viewport img.fader {
            border-radius: 5px 5px 5px 5px ;
            display: none ;
            height: 400px ;
            left: 0px ;
            position: absolute ;
            top: 0px ;
            width: 400px ;
            z-index: 2 ;
        }
 
        p.viewport img.fader.show {
            display: block ;
            transition: opacity 250ms ease ;
        }
 
        p.viewport img.fader.fadeOut {
            opacity: 0 ;
        }
 
        p.viewport img.image {
            border-radius: 5px 5px 5px 5px ;
            display: block ;
            height: 400px ;
            width: 400px ;
        }
 
        p.nav {
            cursor: default ;
            text-align: center ;
            width: 400px ;
        }
 
        p.nav a {
            background-color: #FAFAFA ;
            border: 1px solid #CCCCCC ;
            border-radius: 3px 3px 3px 3px ;
            color: #333333 ;
            display: inline-block ;
            padding: 4px 9px 2px 9px ;
            text-decoration: none ;
        }