<!DOCTYPE html>
<html lang="en" ng-app="Demo" ng-controller="AppController">
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="css/style.css">
   <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title></title>
    <script src="lib/angular/angular.min.js"></script>
    <script src = "http://d3js.org/d3.v3.min.js"></script>

    <script src="js/controllers.js"> </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    </script>
     <script src="js/bootstrap.min.js"></script>
    <script src ="js/dog.js"></script>

    </script>
    <div class = "map">
    <script src="js/maps.js"></script>
    </div>    
   </head>
  <body>
    <center>
   <div id ="title">
      Pluto Bean
      <img src = "css/pluto.gif">
    </div>
  </center>
     

    <div id="map-canvas"/>
    </div>
    <button id='refresh'>refresh</button>


    <div class = 'petphoto'>

    <h1>
        Adopt Me!
    </h1>
 
    <p bn-fade-helper class="viewport">
 
        <img
            ng-src="{{ image.source }}"
            class="image"
        />
 
    </p>
 
    <p class="nav">
        <a ng-click="showImage( 1 )">1</a> -
        <a ng-click="showImage( 2 )">2</a> -
        <a ng-click="showImage( 3 )">3</a> -
        <a ng-click="showImage( 4 )">4</a> -
        <a ng-click="showImage( 5 )">5</a> -
        <a ng-click="showImage( 6 )">6</a>
    </p>

</div>

   <center class = "barchart"><h1><u> PET OWNERSHIP DATA BY STATE<u><h1></center>
   <center>
      <form class = "petbutton">
      <button type="button" onclick ="dog()" class="btn btn-primary">Dog Data</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <button type="button" onclick ="cat()" class="btn btn-primary">Cat Data</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <button type="button" onclick ="bird()" class="btn btn-primary">Bird Data</button>
    </form>
  </center>
      

 
  </body>
</html>